body {
    margin: 0;
    background: #0D0D0D;
    color: white;
}

 /* class */

 button {
    background: #3DD47E;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    width: 147px;
    height: 47px;
}

button a {
    text-decoration: none;
    color: #0D0D0D;
}

button a:hover {
    color: #ecf0f1;
}

i {
    color: #2DCA72;
    margin-right: 1rem;
}


/* Rectangle et cercle background */

.rectangle1 {
    width: 10px;
    height: 10px;
    background: #282A5B;
    position: absolute;
    top: 167px;
    left: 870px;
    border-radius: 3px;
}

.rectangle2 {
    width: 16px;
    height: 16px;
    background: #825EEE;
    position: absolute;
    top: 685px;
    left: 1380px;
    border-radius: 3px;
    rotate: 110deg;
}

.rectangle3 {
    width: 16px;
    height: 16px;
    background: #FF761B;
    position: absolute;
    top: 190px;
    left: 1330px;
    border-radius: 3px;
    rotate: 150deg;
} 

.rectangle4 {
    width: 16px;
    height: 16px;
    background: #588FFF;
    position: absolute;
    top: 485px;
    left: 800px;
    border-radius: 3px;
    rotate: -150deg;
}

.rectangle5 {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #588FFF;
    top: 1140px;
    left: 1320px;
    border-radius: 3px;
    rotate: 163deg;
}

.rectangle6 {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #825EEE;
    top: 1435px;
    left: 755px;
    border-radius: 3px;
    rotate: 58deg;
}

.rectangle7 {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FF761B;
    top: 1765px;
    left: 980px;
    border-radius: 3px;
    rotate: 103deg;
}

.rectangle8 {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #282A5B;
    top: 1490px;
    left: 1465px;
    border-radius: 3px;
    rotate: 133deg;
}

.rectangle8 {
    position: absolute;
    width: 29px;
    height: 29px;
    background: #B8FBFD;
    top: 1885px;
    left: 155px;
    border-radius: 3px;
    rotate: 48deg;
}

.rectangle9 {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #873600;
    top: 1850px;
    left: 565px;
    border-radius: 3px;
    rotate: 103deg;
}

.rectangle10 {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #F08064;
    top: 2230px;
    left: 645px;
    border-radius: 3px;
    rotate: 103deg;
}

.rectangle11 {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #7047EB;
    top: 3765px;
    left: 1340px;
    border-radius: 3px;
    rotate: -174deg;
}

.rectangle12 {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FF6701;
    top: 3930px;
    left: 840px;
    border-radius: 3px;
    rotate: -129deg;
}

.rectangle13 {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #9ECBFF;
    top: 4055px;
    left: 930px;
    border-radius: 14px;
    opacity: 0.19;
    z-index: -1;
}



.cercle {
    width: 87px;
    height: 87px;
    background: #3DD47E;
    position: absolute;
    top: 75px;
    left: 480px;
    opacity: 0.21;
    border-radius: 50%;
}

.cercle2 {
    width: 128px;
    height: 128px;
    background: #825EEE;
    position: absolute;
    top: -65px;
    left: 650px;
    opacity: 0.21;
    border-radius: 50%;
}

.customersProfil {
    position: absolute;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 13px;
    top: 1950px;
    left: 580px;
}

.photo {
    display: flex;
    gap: 5px;
    color: #FF865E;
}

.photo img {
    max-width: 122px;
    max-height: 37px;
}

/* Header */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.9rem;
}

header h1 {
    padding-left: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

header h1 span {
    color: rgb(12, 156, 106);
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-family: "Nunito", sans-serif;
}

header li {
    padding: 1rem 1.7rem;
}

header li a:hover {
    padding-bottom: 0.5rem;
    border-bottom: solid #3DD47E;
}

header li a {
    text-decoration: none;
    color: white;
}

.button-header {
    margin-top: 1rem;
    margin-right: 2rem;
}


/* Home */

.home {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.home-text {
    width: 33rem;
    margin-top: 7rem;
}

.home-text h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
}

.home-text p {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    line-height: 1.75rem;
    color: #C9C9C9;
}

.button-home {
    margin-top: 1rem;
}


/* Certification */

.certification {
    margin-top: 5rem;
    font-family: "Nunito", sans-serif;
}

.certification-title {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 7.5rem;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;

}

.certification-title span {
    box-sizing: border-box;
    width: 0.1px;
    height: 25px;
    background: #707070;
    position: relative;
    top: 1.4rem;
}

.certification-title-certif {
    color: #C9C9C9;
    opacity: 0.5;
}

.certification-brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

.certification-brand-rectangle {
    box-sizing: border-box;
    width: 230px;
    height: 100px;
    border-radius: 8px;
    background: #181818;
    text-align: center;
    padding-top: 37px;
}

/* expertise */

.expertise-rectangle {
    box-sizing: border-box;
    width: 287px;
    height: 240px;
    border-radius: 12px;
    background: #131313;
    padding-top: 3rem;
    padding-left: 2rem;
}

.expertise-rectangle h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 23px;
    width: 224px;
    line-height: 28px;
}

.expertise-text {
    grid-column: 3/5;
    padding-left: 1.2rem;
}

.expertise-text h2{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    width: 400px;
}

.expertise-text p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #C9C9C9;
    width: 485px;
}

.expertise {
    display: grid;
    grid-template-columns: 287px 287px 287px 287px;
    grid-template-rows: 287px 287px;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 8rem;
}

/* customers */

.customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.customers-text h2 {
    font-size: 40px;
    font-weight: 700;
    width: 320px;
    font-family: "Nunito", sans-serif;
}

.customers-text p {
    width: 468px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1.5rem;
    color: #C9C9C9;
}

/* work */

.work {
    margin-bottom: 4rem;
}

.work h2 {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 4rem;
}

.work-container {
    display: flex;
    justify-content: space-around;
}

.work-container h3 {
    font-family: "Nunito", sans-serif;
    width: 285px;
    font-size: 25px;
    line-height: 28px;
    font-weight: 700;
}

.work-container p {
    width: 374px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #C9C9C9;
    line-height: 28px;
}


/* testimonials */

.testimonials {
    background: #131313;
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 14rem;
}

.testimonials h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 2.3rem;
}

.testimonials-container {
    display: flex;
    justify-content: space-around;    
}

.testimonials-container-rectangle {
    box-sizing: border-box;
    width: 422px;
    height: 191px;
    border-radius: 12px;
    background: #0D0D0D;
    padding-left: 2.3rem;
    padding-top: 1.2rem;
    padding-right: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #C9C9C9;
}


.testimonials-rectangle-profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
    margin-bottom: 1.7rem;
}

.testimonials-rectangle-profil-text {
    line-height: 0px;
}

.testimonials-rectangle-profil-text h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.testimonials-rectangle-profil-text p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #C9C9C9;
}


.testimonials-rectangle-profil img {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.testimonials-barre {
    margin-top: 2rem;
    display: flex;
    margin-left: 3rem;
    gap: 1rem;
}

.testimonials-barre-white{
    box-sizing: border-box;
    width: 35px;
    height: 3px;
    background: #FFF;
}

.testimonials-barre-dark{
    box-sizing: border-box;
    width: 35px;
    height: 3px;
    background: #3A3A3A;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 395px;
    height: 399px;
}

.footer-text {
    width: 515px;
    position: relative;
    top: -10rem;
}

.footer-text h2 {
    font-family: "Nunito", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.footer-text p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #C9C9C9;
}

.footer-text-contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    gap: 2.7rem;
}

.footer-text-contact-number {
    gap: 1rem;
}

.cercle3 {

    width: 248px;
    height: 248px;
    background: linear-gradient(to right, #0D0D0D 50%, #F53D6B 50%);
    position: absolute;
    top: 3810px;
    left: 1065px;
    opacity: 0.21;
    border-radius: 50%;
    z-index: -1;
}

